@import url('https://fonts.googleapis.com/css2?family=VT323');

body {
  margin: 0;
  font-family: "VT323", 'Courier New', Courier, monospace;
  font-size: calc(1rem + 1.5vw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3B2A2A;
  background-color:#3E7854;
  /* background-color: red; */
}
